/* configurações gerais */
body{
    background: #f7f7f7;
    display: grid;
    justify-items: center;
    gap:1.25rem;
    margin-top: 2rem;
    font-size:1.25rem ;
    font-family: Arial, Helvetica, sans-serif;
    
}

a{
    text-decoration: none;
    border-radius: 0.4rem;
    text-transform: uppercase;
}



/* navegação */
header{
    margin-bottom: 3rem;
}
header img{
    display: block;
    margin: 3rem auto;
}
nav ul{
    display: flex;
    gap:1.25rem;


}

li a{
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    color: black;
    background-color: white;
}

li a:hover{
    background-color: black;
    color: white;
    font-size: 1.7rem;
    border: 0.2rem solid red;
}

li a:focus{
    border: 0.2rem solid red;
}

li a:active{
    border:0.2rem solid yellow ;
}


/* Conteúdo principal */
main{
    width: 62.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.sobre{
    display: grid;
    align-items: center;
    justify-items: end;
    background-color: white;
    padding: 2rem;
    position: relative;

}
h1{
    font-size: 2rem;
    font-weight: bolder;
}

h1::after{
    content:"";
    display: block;
    width: 4rem;
    background-color: #e21;
    height: 0.25rem;
    position: absolute;
    top: 1.7rem;
    left: 29.2rem;

    
}
.sobre p{
    text-align: end;
    font-size: 1.4rem;
}
.sobre a{
    color: white;
    background-color: #e21;
    padding: 0.7rem 1.4rem;
}
.foto{
    width: 100%;
}
.vant{
    display: grid;
    justify-items: center;
    align-items: center;
}
.vantagens{

    
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    text-align: end;
    padding: 1rem 2rem;
    color: rgba(0, 0, 0, 0.2);

}
h2{
    background-image: url(img/onda.svg);
}

.carac{
    background-color: white;
    padding: 2rem 4rem;
    position: relative;
}

.carac article{
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;
}
.carac h3{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    
    

}

#last{
    margin-bottom: 0;
}


.mot::before{
    content: url(img/eletrica.svg);
    position: absolute;
    left:3rem ;
}

.vel::before{
    content: url(img/velocidade.svg);
    position: absolute;
    left:3rem ;
}

.rast::before{
    content: url(img/rastreador.svg);
    position: absolute;
    left:3rem ;
}



/* rodape */
footer{
    width:100%;
    background-color: white;
    text-align: center;
    
}

footer p{
    padding: 3rem 1rem;
}
